<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title> Guest Book Web Application </title>  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body ng-app>
<div class="container">
    <h1>Welcome To Guest Book Web Application </h1>
    <hr/>
        <h2>Post your greeting message</h2>
        <form ng-controller="commentCtrl">
            <textarea class="form-control" rows="5" ng-model="postArea"></textarea>
			<br>
            <button class="btn btn-success btn-md pull-right" ng-click='click_btn();' style="position: absolute; left: 800px">Submit</button>
            <h3>Posted Greetings</h3>
                <li class="list-group-item" ng-repeat="message in messages"> {{ message }}
                    <a href="" ng-click="postMessage($index)"></a>
                </li>
        </form> 
</div>
<script type="text/javascript">
function commentCtrl($scope) {
     $scope.messages = [];
     $scope.click_btn = function() {
         if (($scope.postArea != "") && ($scope.postArea != null) && ($scope.postArea != undefined)) {
             $scope.messages.push($scope.postArea);
             $scope.postArea = "";
         }
     }
     $scope.postMessage = function($index) {
         $scope.messages.splice($index, 3);
     }
 }
</script>
</body>
</html>